.git
.Rproj.user
.Rhistory
.Ruserdata
.gitignore
ecodive.Rproj
*.rds
src/*.o
src/*.so
src/*.dll
inst/doc
CRAN-SUBMISSION
cran-comments.md
revdep/
tmp/
/benchmark/
/doc/
/docs/
/Meta/
/refs/
valgrind_log.txt
rhub_check.r
/rchk/
